
.header_title{
    text-align: center;
    background-color: darkgray;
    margin: 0.7rem 0.5rem 0.5rem 0.7rem;
    padding: 2rem;
    border-radius: 25px;
   
}

.header{
    display:flex;
    justify-content:space-between;
    margin: 0 0.3rem;
    border-radius: 25px;

.palindromic{
    width: 100%;
    background-color: rgb(245, 21, 51);
    padding: 2rem;

h3{
    text-align: center;
    color: black;
}

p{
    color: rgb(10, 10, 10);
}

}
.perfect{
    width: 100%;
    background-color:rgb(43, 156, 156);
    padding: 2rem;
    align-items: center;

    h3{
        text-align: center;
        color: black;
    }
}

}

